<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half">
    </div>
    <div class="grid__item medium-up--one-half">
      {{ section.settings.test-content }}
    </div>
  
  </div>
</div>



{% schema %}
{
  "name": {
    "en": "Text Box"
  },
  "settings": [
    {
      "id": "test-content",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    }
  ]
}
{% endschema %}
